<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register - cookhouse</title>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="icon" href="/pictures/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="box">
            <form action="/register" method="POST">
                <h1>Register</h1>
                <div class="signup-process">
                    <input type="text" name="name" id="name" placeholder="Name">
                    <input type="email" name="email" id="email" placeholder="E-Mail">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <button type="submit" class="signup-button">Sign up</button>
                </div>
                <div class="login-link">
                    Already have an account? <a href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>